meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap", rel="stylesheet")
base(href="https://assets.htmlacademy.ru/content/skills/5/case-04/")
link(rel="stylesheet", href="style.css")
title Главное про ИИС: что, зачем и как
header.main-header
  nav.main-header-nav
    .main-header-nav-wrapper
      .container.container-flex
        a.main-header-logo(href="#")
          img(src="img/logo.svg", width="238", height="16", alt="Finance Journal")
        ul.indicators
          li.indicators-item
            a.indicator(href="#")
              span.indicator-diff.indicator-diff-fall
                span.visually-hidden Падение показателя
              span.indicator-name USD
              span.indicator-value 70.91
              span.rub
                span.visually-hidden руб.
          li.indicators-item
            a.indicator(href="#")
              span.indicator-diff.indicator-diff-grow
                span.visually-hidden Рост показателя
              span.indicator-name EUR
              span.indicator-value 81.59
              span.rub
                span.visually-hidden руб.
    .main-header-nav-wrapper
      .container.container-flex
        ul.site-navigation
          li.site-navigation-item
            a.site-navigation-link(href="#") Новости
          li.site-navigation-item
            a.site-navigation-link(href="#") Инвестиции
          li.site-navigation-item
            a.site-navigation-link(href="#") Бизнесу
          li.site-navigation-item
            a.site-navigation-link(href="#") Самозанятым
          li.site-navigation-item
            a.site-navigation-link(href="#") Подкасты
        ul.user-menu
          li.user-menu-item
            a.user-menu-link.user-menu-link-search(href="#") Поиск
          li.user-menu-item
            a.user-menu-link.user-menu-link-email(href="#") Рассылка
main.main-page
  .breadcrumbs-wrapper
    .container
      ul.breadcrumbs
        li.breadcrumbs-item
          a.breadcrumbs-link(href="#") Главная
        li.breadcrumbs-item
          a.breadcrumbs-link(href="#") Инвестиции
        li.breadcrumbs-item
          a.breadcrumbs-link(href="#") Для начинающих
        li.breadcrumbs-item
          a.breadcrumbs-link Главное про ИИС
  article.main-article
    header.main-article-header
      .container
        .main-article-header-wrapper(style="background-image: url(\'img/bg.png\');")
          .meta-row
            .meta-col
              time.meta.meta-datetime(datetime="2020-07-23") 23.07.20
            .meta-col
              span.meta.meta-ico.meta-views 100k
            .meta-col
              span.meta.meta-ico.meta-readingtime 15 минут
          h1.main-title Главное про ИИС: что, зачем и как
          p Краткое руководство для тех, кто хочет инвестировать, но не знает с чего начать
    .container
      p.lead
        | Количество зарегистрированных на Московской бирже индивидуальных инвестиционных счетов по состоянию на 6 апреля 2020 года достигло
        a.footnote-label#anchor1-ref(href="#anchor1") 2 миллионов
        | .
      p.intro-text
        abbr(title="Индивидуальный инвестиционный счёт")
          a(href="#iis") ИИС
        |  с каждым годом становится популярнее, и если раньше казалось, что это только
        del для олигархов
        |
        ins сложно
        | , то сейчас очевидно, что инвестировать может каждый.
      .intro-chart
        figure
          img(src="img/chart-1.svg", width="700", height="339", alt="График роста количества открытых ИИС, тыс")
          figcaption Данные предоставлены Московской Биржей в 2020 году
      p.intro-text
        | В статье разберем главные вопросы об инвестициях, с чего начать и как
        del не облажаться
        |
        ins действовать правильно
        | .
      p.main-article-nav-title Оглавление
      nav.main-article-nav
        ol.main-article-nav-list
          li.main-article-nav-item
            a(href="#definition") Что такое ИИС?
          li.main-article-nav-item
            a(href="#opening") Как открыть ИИС?
          li.main-article-nav-item
            a(href="#management") Как управлять ИИС?
          li.main-article-nav-item
            a(href="#investment") Как и куда инвестировать через ИИС?
          li.main-article-nav-item
            a(href="#recoupment") Вычеты
          li.main-article-nav-item
            a(href="#calculation") Расчёт доходов
          li.main-article-nav-item
            a(href="#accounting") Учет
          li.main-article-nav-item
            a(href="#resume") Выводы
      section#definition
        h2 Что такое ИИС?
        p
          dfn#iis ИИС
          |  – это индивидуальный инвестиционный счет, один из способов инвестирования финансов. Такой способ существует в России с 2015 года и представляет собой брокерский счет со льготным налогообложением и некими ограничениями.
        p У ИИС есть ряд преимуществ по сравнению с брокерским счетом, например, возможность возвращения 13% от внесённой на счет суммы (до 52 000 ₽ в год).
        p Вычет взноса на налог от прибыльных операций на ИИС предъявляется исключительно в случае закрытия счета, а не ежегодно, если брать брокерский счет во внимание.
        p
          | Однако, есть некоторые минусы ИИС, например, получение права на налоговый вычет: чтобы осуществить данную операцию, счет должен существовать от
          a.footnote-label#anchor2-ref(href="#anchor2") трех лет
          | .
      section#opening
        h2 Как открыть ИИС?
        p Для открытия ИИС нужно обратиться к брокеру, который занимается предоставлением таких услуг. На начальном этапе открытия счета инвестор выбирает подходящую стратегию инвестирования.
        p Есть два варианта открытия ИИС: удаленно или же непосредственно в офисе.
        .block-with-aside
          h3 Рейтинг крупнейших российских брокеров
          ol.rating
            li.rating-item
              span.rating-name Петрофф Инвестиции
              span.rating-value Рейтинг: 4,9
            li.rating-item
              span.rating-name ПАО Необанк
              span.rating-value Рейтинг: 4,8
            li.rating-item
              span.rating-name БКС Рус
              span.rating-value Рейтинг: 4,6
            li.rating-item
              span.rating-name Брокер Восток
              span.rating-value Рейтинг: 4,5
            li.rating-item
              span.rating-name Бета-Банк
              span.rating-value Рейтинг: 4,3
            li.rating-item
              span.rating-name ИК «Хаппи Финанс»
              span.rating-value Рейтинг: 4,2
            li.rating-item
              span.rating-name ПСТ
              span.rating-value Рейтинг: 4,1
            li.rating-item
              span.rating-name ITI Broker
              span.rating-value Рейтинг: 4,0
          aside
            a(href="#")
              | Как выбрать
              br
              | надежного брокера
        p
          | Один из вариантов инвестирования – работа с зарубежными брокерами. Такой способ имеет свою плюсы и минусы. Несмотря на то, что этот вариант похож на работу с российскими брокерами, в нем есть свои
          a.footnote-label#anchor3-ref(href="#anchor3") нюансы
          | .
        .block-with-aside
          table.striped-table
            caption Американские брокеры, работающие с резидентами из России
            colgroup
              col.name
              col.value(span="3")
            tbody
              tr
                th Брокер
                th Комиссия за вывод средств
                th Комиссия за сделку
                th Русскоязычная поддержка
              tr
                td LifeSpeed
                td 56 $
                td 5 $
                td Есть
              tr
                td TradeOn
                td 70 $
                td 2,5 $
                td Нет
              tr
                td BestTrade
                td 40 $
                td 1,5 $
                td Есть
              tr
                td Brokers
                td 10 $
                td 2,99 $
                td Нет
              tr
                td Choise
                td 35 $
                td 1,99 $
                td Нет
          aside
            a(href="#") Особенности работы с американскими брокерами
      section#management
        h2 Как управлять ИИС?
        p
          | Существует два способа управления ИИС: самостоятельное и доверительное. Если вы выбрали самостоятельное управление ИИС, вы принимаете все решения независимо от брокера.
          mark За все риски и потери вы отвечаете сами, оплачивая комиссию за сделки брокеру.
        p В самом начале мы рекомендуем вносить инвестиции с помощью брокера, предварительно разобравшись в основах стратегии инвестирования. Несмотря на то, что брокер будет брать небольшой процент за данную услугу, преимуществ значительно больше по сравнению с самостоятельным управлением.
        blockquote.quote
          p В начале пути я выбрал самостоятельное управление ИИС и потерял ...
          cite Алексей Гуров, частный инвестор
      section#investment
        h2 Как и куда инвестировать через ИИС?
        p
          | Для начала достаточно и 50 000 ₽, в таком случае вы не будете ощущать различных комиссионных вычетов. Для того, чтобы внести деньги на счет, следует перевести сумму по реквизитам
          abbr(title="Индивидуальный инвестиционный счёт") ИИС
          |  инвестора.
        p
          | Все реквизиты должны быть указаны брокером во время подписания договора. Вы можете пополнять
          abbr(title="Индивидуальный инвестиционный счёт") ИИС
          |  так часто, как вам хочется.
        .block-with-aside
          h3 Виды вложений:
          .nested-list
            ul
              li
                | Акции

                ul
                  li Обыкновенные
                  li Привилегированные
              li
                | Государственные облигации

                ul
                  li Краткосрочные, среднесрочные, и долгосрочные
                  li Купонные и бескупонные
                  li Отзывные и безотзывные
              li
                | Корпоративные облигации

                ul
                  li Срочные и отзывные
                  li Именные и на предъявителя
                  li Обычные и целевые
                  li С распределенным и разовым погашением
          aside
            a(href="#")
              | Акции или облигации.
              br
              | Что выбрать?
        figure
          img(src="img/chart-2.svg", width="700", height="370", alt="Схема инвестиций владельцев ИИС")
          figcaption Данные предоставлены Московской Биржей
      section.columns#recoupment
        h2 Вычеты
        p
          | Рассмотрим вычет налога на взносы, который дает возможность вернуть
          abbr(title="Налог на доходы физических лиц") НДФЛ
          |  в размере 13% от суммы, внесенной на ИИС за этот год. Для получения самого крупного возврата необходимо пополнить счет до 400 000 ₽ за один год и заплатить 52 000 ₽
          abbr(title="Налог на доходы физических лиц") НДФЛ
          | . Таким образом, больше уплаченного
          abbr(title="Налог на доходы физических лиц") НДФЛ
          |  за год вы не вернете.
        p Рассмотрим пример, в 2017 году вы внесли на счет 220 000 ₽, при этом было удержано 43 000 ₽. Вы можете получить налоговый вычет в размере 28 000 ₽. Для возврата полной суммы налога, вам следовало внести на счет около 319 000 ₽.
        a.read-more(href="#") Подробнее о вычете на взносы
        p
          | Чтобы получить вычет на взносы нужно оформить налоговую декларацию
          abbr(title="Налог на доходы физических лиц") НДФЛ
          | , а также договор на обслуживание ИИС. Если вы вносите деньги до конца года, вы имеете право обратиться за вычетом в начале следующего года.
        p
          | Вычет на доход освобождает инвестора от уплаты
          abbr(title="Налог на доходы физических лиц") НДФЛ
          |  с дохода, полученного с помощью
          abbr(title="Индивидуальный инвестиционный счёт") ИИС
          | , независимо от размера дохода. Надо взять в налоговой справку о том, что по этому ИИС вы ни разу не использовали вычет на взносы. Отдайте брокеру справку перед закрытием счета, и брокер не удержит
          abbr(title="Налог на доходы физических лиц") НДФЛ
          |  от прибыльных операций на счете.
        a.read-more(href="#") Подробнее о вычете на доход
        p Совмещать оба виды вычетов нельзя. Если хотя бы раз использовали вычет на взносы, вычет на доход по этому ИИС применить не получится. Что лучше? В большинстве случаев вычет на взносы выгоднее, но есть нюансы.
      section#calculation
        .block-with-aside
          h2 Расчёт доходов
          p Кажется просто – покупаете облигации с доходностью 10% и получаете налоговую компенсацию 13%. Складываем и получаем итоговую доходность в 23%. Но все не так просто. Такую доходность инвестиции принесут в первый год, а средства должны пролежать на счете как минимум 3 года. Во второй год и далее компенсация уже не будет составлять 13% от всего счета.
          p
            mark Прибыль ИИС меняется в зависимости от доходности облигаций и сроков инвестирования.
            |  При описанных условиях, когда инвестируемые деньги (400 000 ₽) в начале каждого года полностью расходуются вместе с прибылью предыдущего периода для покупки аналогичных облигаций, прибыль считается очень просто. Это аналог банковского вклада с ежегодным пополнением. Результат можно посчитать в виде суммы первых членов геометрической прогрессии:
          .formula-wrapper
            p.formula
              var A
              |  ✕
              var m
              |  +
              var r
              sub 2
              |  =
              var A
              |  ✕ (
              var r
              |  + 1)
              sup n
              |  − 1
            dl.formula-description
              div
                dt A
                dd – размер ежегодных инвестиций
              div
                dt r
                dd – доходность облигации
              div
                dt m
                dd – количество лет
          p
            | Для упрощения расчёта дохода вы можете воспользоваться
            a(href="#") нашим калькулятором
            | .
          aside
            a(href="#") Сколько можно заработать на ИИС за 3 года
      section#accounting
        h2 Учёт
        p Как только вы начали инвестировать, советуем вам завести привычку вести учет всех активов. С ростом инвестиций и без единой формы и отчета, вам будет сложно увидеть полную картинку.
        p
          | Вы можете разработать собственную отчетную форму, либо воспользоваться
          a(href="#table-1") нашей таблицей
          | . Записывайте активы и будете видеть точный бюджет поступлений на месяц вперед.
        p Так, например, вы можете рассчитывается прибыль и убыток по позиции, дату и размер ближайшего поступления от актива, а также отчет по количеству используемых валют.
        figure.color-table-wrapper
          table#table-1.color-table
            colgroup
              col.currency
              col.count
              col.sum(span="2")
              col.percentage
            thead
              tr
                th(rowspan="2") Валюта
                th(rowspan="2") Кол-во бумаг
                th(colspan="2") Сумма активов
                th(rowspan="2") % от активов
              tr
                th.smaller в рублях
                th.smaller в долларах
            tbody
              tr
                td RUB
                td 3
                td 300 000 ₽
                td 4 179 $
                td 30%
              tr
                td USD
                td 5
                td 500 000 ₽
                td 6 965 $
                td 50%
              tr
                td EUR
                td 2
                td 200 000 ₽
                td 2 768 $
                td 20%
            tfoot
              tr
                td Итого:
                td 10
                td 1 000 000 ₽
                td 13 912 $
                td 100%
          figcaption Пример анализа используемой валюты
      section#resume
        h2 Коротко о главном
        p
          abbr(title="Индивидуальный инвестиционный счёт") ИИС
          |  является одним из простых и удобных способов инвестирования денежных средств на срок от 3-х лет. Своевременная выплата
          abbr(title="Налог на доходы физических лиц") НДФЛ
          |  дает возможность его возврата при помощи вычетов на взносы на
          abbr(title="Индивидуальный инвестиционный счёт") ИИС
    footer.main-article-footer
      .container
        section.footnotes
          h2 Примечания
          ol.footnotes-list
            li.footnotes-item#anchor1
              | На начало апреля на Московской бирже зарегистрировано два миллиона индивидуальных инвестиционных счетов (ИИС), открытых физическими лицами. Всего на бирже 4,57 млн человек имеют брокерские счета. На начало года было открыто 1,65 млн ИИС, их число за первый квартал увеличилось на 407 тыс. На долю брокерских счетов приходится 87% ИИС, счета доверительного управления (ИИС-ДУ) составляют 13%.
              a.back(href="#anchor1-ref") ↩
            li.footnotes-item#anchor2
              | Согласно федеральный закон № 35-ФЗ «О рынке ценных бумаг», подп. 3 п. 2 ст. 215.7 НК РФ.
              a.back(href="#anchor2-ref") ↩
            li.footnotes-item#anchor3
              | Об открытии ИИС за рубежом необходимо уведомлять ФНС в течение 15 дней с момента заключения договора с банком, брокерской или управляющей компанией. В противном случае налоговые органы имеют право выписать штраф в размере до 5000 рублей (при повторных нарушениях размер штрафных санкций возрастает). Также, необходимо уведомить ФНС о закрытии счета или изменениях в реквизитах.
              a.back(href="#anchor3-ref") ↩
      .meta-wrapper
        .container
          ul.hashtags
            li.hashtag
              a(href="#") ИИС
            li.hashtag
              a(href="#") для начинающих
            li.hashtag
              a(href="#") вложения
            li.hashtag
              a(href="#") пассивный доход
          .meta-row
            .meta-col
              time.meta.meta-datetime(datetime="2020-07-23") 23.07.20
            .meta-col
              span.meta.meta-ico.meta-views 100k
aside.main-article-aside
  .container
    .main-article-aside-wrapper
      h2 Об инвестициях для начинающих
      a.see-all(href="#") Смотреть все
    ul.aside-articles
      li
        article.aside-article
          img(src="img/photo-1.png", width="370", height="200", alt="Трёхмерный график")
          .aside-article-content
            h3 Как зарабатывать на ИИС
            p Сейчас лучшее время для открытия ИИС — успеете до конца этого года, в следующем году получите вычет.
            p С помощью нашего калькулятора вы можете посчитать, сколько заработаете на ИИС при разных вариантах инвестирования, при вычете взноса на доход или вычете на взнос.
            footer
              .meta-row
                .meta-col
                  time.meta.meta-datetime(datetime="2020-06-27") 27.06.20
                .meta-col
                  span.meta.meta-ico.meta-views 114k
                .meta-col
                  span.meta.meta-ico.meta-readingtime 10 минут
          a(href="#") Читать дальше
      li
        article.aside-article
          img(src="img/photo-2.png", width="370", height="200", alt="Трёхмерный иконка для сообщений")
          .aside-article-content
            h3 Ответы на вопросы
            p Михаил, частный инвестор, отвечает на самые часто возникающие вопросы об ИИС.
            p Какую биржу выбрать, какие есть риски, куда лучше инвестировать, как получить прибыль от ETF и многое другое. Пишите нам ваши вопросы и мы обязательно на них ответим.
            footer
              .meta-row
                .meta-col
                  time.meta.meta-datetime(datetime="2020-06-21") 21.06.20
                .meta-col
                  span.meta.meta-ico.meta-views 129k
                .meta-col
                  span.meta.meta-ico.meta-readingtime 12 минут
          a(href="#") Читать дальше
      li
        article.aside-article
          img(src="img/photo-3.png", width="370", height="200", alt="Боксёрские перчатки")
          .aside-article-content
            h3 Торги на бирже
            p Биржа – организатор торгов акциями и облигациями. Она нужна для того, чтобы облегчить вам работу, обеспечить безопасную сделку в обмен на процент.
            p Вы можете торговать и без понимания работы торгов. Но знания о внутренних процессах дадут вам преимущество.
            footer
              .meta-row
                .meta-col
                  time.meta.meta-datetime(datetime="2020-06-16") 16.06.20
                .meta-col
                  span.meta.meta-ico.meta-views 153k
                .meta-col
                  span.meta.meta-ico.meta-readingtime 15 минут
          a(href="#") Читать дальше
footer.main-footer
  .main-footer-wrapper
    .container.container-flex
      .main-footer-col
        a.main-footer-logo(href="#")
          img(src="img/logo.svg", width="238", height="16", alt="Finance Journal")
        ul.social-list
          li.social-item
            a.social-link.social-link-vk(href="#")
              span.visually-hidden VK
          li.social-item
            a.social-link.social-link-facebook(href="#")
              span.visually-hidden Facebook
          li.social-item
            a.social-link.social-link-instagram(href="#")
              span.visually-hidden Instagram
          li.social-item
            a.social-link.social-link-twitter(href="#")
              span.visually-hidden Twitter
      ul.main-footer-nav
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Новости
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Инвестиции
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Бизнесу
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Самозанятым
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Подкасты
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") О журнале
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Реклама
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Вакансии
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Контакты
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Карта сайта
      .main-footer-col
        form.subscribe(action="#", method="POST")
          label.visually-hidden(for="subscribe-email") E-mail пользователя
          input.subscribe-field#subscribe-email(type="text", name="subscribe-email", placeholder="Введите свой e-mail")
          button.subscribe-button(type="submit") Подписаться
        p.agreements Нажимая кнопку «Подписаться», вы соглашаетесь с условиями обработки персональных данных
  .main-footer-wrapper
    .container.container-flex
      p.copyright © Finance Journal 2020
      a.policy(href="#") Политика конфиденциальности
