meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap", rel="stylesheet")
base(href="https://assets.htmlacademy.ru/content/skills/5/case-04/")
link(rel="stylesheet", href="style.css")
title Главное про ИИС: что, зачем и как

main.main-page

h2 Об инвестициях для начинающих
      a.see-all(href="#") Смотреть все
    ul.aside-articles
      li
        article.aside-article
          img(src="img/photo-1.png", width="370", height="200", alt="Трёхмерный график")
          .aside-article-content
            h3 Как зарабатывать на ИИС
            p Сейчас лучшее время для открытия ИИС — успеете до конца этого года, в следующем году получите вычет.
            p С помощью нашего калькулятора вы можете посчитать, сколько заработаете на ИИС при разных вариантах инвестирования, при вычете взноса на доход или вычете на взнос.
            footer
              .meta-row
                .meta-col
                  time.meta.meta-datetime(datetime="2020-06-27") 27.06.20
                .meta-col
                  span.meta.meta-ico.meta-views 114k
                .meta-col
                  span.meta.meta-ico.meta-readingtime 10 минут
          a(href="#") Читать дальше
      li
        article.aside-article
          img(src="img/photo-2.png", width="370", height="200", alt="Трёхмерный иконка для сообщений")
          .aside-article-content
            h3 Ответы на вопросы
            p Михаил, частный инвестор, отвечает на самые часто возникающие вопросы об ИИС.
            p Какую биржу выбрать, какие есть риски, куда лучше инвестировать, как получить прибыль от ETF и многое другое. Пишите нам ваши вопросы и мы обязательно на них ответим.
            footer
              .meta-row
                .meta-col
                  time.meta.meta-datetime(datetime="2020-06-21") 21.06.20
                .meta-col
                  span.meta.meta-ico.meta-views 129k
                .meta-col
                  span.meta.meta-ico.meta-readingtime 12 минут
          a(href="#") Читать дальше
      li
        article.aside-article
          img(src="img/photo-3.png", width="370", height="200", alt="Боксёрские перчатки")
          .aside-article-content
            h3 Торги на бирже
            p Биржа – организатор торгов акциями и облигациями. Она нужна для того, чтобы облегчить вам работу, обеспечить безопасную сделку в обмен на процент.
            p Вы можете торговать и без понимания работы торгов. Но знания о внутренних процессах дадут вам преимущество.
            footer
              .meta-row
                .meta-col
                  time.meta.meta-datetime(datetime="2020-06-16") 16.06.20
                .meta-col
                  span.meta.meta-ico.meta-views 153k
                .meta-col
                  span.meta.meta-ico.meta-readingtime 15 минут
          a(href="#") Читать дальше
footer.main-footer
  .main-footer-wrapper
    .container.container-flex
      .main-footer-col
        a.main-footer-logo(href="#")
          img(src="img/logo.svg", width="238", height="16", alt="Finance Journal")
        ul.social-list
          li.social-item
            a.social-link.social-link-vk(href="#")
              span.visually-hidden VK
          li.social-item
            a.social-link.social-link-facebook(href="#")
              span.visually-hidden Facebook
          li.social-item
            a.social-link.social-link-instagram(href="#")
              span.visually-hidden Instagram
          li.social-item
            a.social-link.social-link-twitter(href="#")
              span.visually-hidden Twitter
      ul.main-footer-nav
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Новости
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Инвестиции
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Бизнесу
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Самозанятым
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Подкасты
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") О журнале
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Реклама
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Вакансии
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Контакты
        li.main-footer-nav-item
          a.main-footer-nav-link(href="#") Карта сайта
      .main-footer-col
        form.subscribe(action="#", method="POST")
          label.visually-hidden(for="subscribe-email") E-mail пользователя
          input.subscribe-field#subscribe-email(type="text", name="subscribe-email", placeholder="Введите свой e-mail")
          button.subscribe-button(type="submit") Подписаться
        p.agreements Нажимая кнопку «Подписаться», вы соглашаетесь с условиями обработки персональных данных
  .main-footer-wrapper
    .container.container-flex
      p.copyright © Finance Journal 2020
      a.policy(href="#") Политика конфиденциальности
