mixin footer(footerMods)
  footer.main-footer(class=footerMods)
    .main-footer__wrapper
      .container.container-flex
        .main-footer__col
          a.main-footer__logo(href="#")
            img(src="img/logo.svg", width="238", height="16", alt="Finance Journal")
          .social
            ul.social__list
              li.social__item
                a.social__link.social__link--vk(href="#")
                  span.visually-hidden VK
              li.social__item
                a.social__link.social__link--facebook(href="#")
                  span.visually-hidden Facebook
              li.social__item
                a.social__link.social__link--instagram(href="#")
                  span.visually-hidden Instagram
              li.social__item
                a.social__link.social__link--twitter(href="#")
                  span.visually-hidden Twitter
          .main-footer-nav
            ul.main-footer-nav__list
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Новости
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Инвестиции
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Бизнесу
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Самозанятым
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Подкасты
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") О журнале
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Реклама
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Вакансии
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Контакты
              li.main-footer-nav__item
                a.main-footer-nav__link(href="#") Карта сайта
        .main-footer__col
          .subscribe
            form.subscribe__form(action="#", method="POST")
              label.visually-hidden(for="subscribe-email") E-mail пользователя
              input.subscribe__field#subscribe-email(type="text", name="subscribe-email", placeholder="Введите свой e-mail")
              button.subscribe__button(type="submit") Подписаться
          p.agreements Нажимая кнопку «Подписаться», вы соглашаетесь с условиями обработки персональных данных
    .main-footer__wrapper
        .container.container-flex
          p.main-footer__copyright © Finance Journal 2020
          a.main-footer__policy(href="#") Политика конфиденциальности
