mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Новости"
      },
      {
        href: "#",
        text: "Инвестиции"
      },
      {
        href: "#",
        text: "Бизнесу"
      },
      {
        href: "#",
        text: "Самозанятым"
      },
      {
        href: "#",
        text: "Подкасты"
      },
    ]

  header.header(class=headerMods)
    .header__wrapper-intro.container
      if(currentUrl === "index.html")
        +icon("logotype", 238, 16)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logotype", 238, 16)
      .header__exchange-rates
          p.header__exchange-rates--usd USD
            span.header__exchange-rates--usd-value &nbsp;70.91&nbsp;&#8381;
          p.header__exchange-rates--eur EUR
            span.header__exchange-rates--eur-value &nbsp;81.59&nbsp;&#8381;
    nav.main-nav.container
      .main-nav__wrapper
        ul.main-nav__list
          each link in headerLinks
            - const activeState = currentUrl === link.href
            li.main-nav__item
              if(activeState)
                span.main-nav__link.is-active=link.text
              else
                a.main-nav__link(href=link.href)=link.text
        .user-menu
          ul.user-menu__list
            li.user-menu__item.item-search Поиск
            li.user-menu__item.item-mailing-list Рассылка
