.header {

  &__wrapper-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-default-black;
    color: $color-default-white;
  }

  &__logo {
    color: $color-default-white;
  }

  &__exchange-rates {
    display: flex;
  }
}


