.main-nav {
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
    outline: 1px red dotted;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-black;
    outline: 1px red dotted;
    font-family: $ff-semibold;

    &.is-active {
      opacity: 0.6;
      outline: 1px green dotted;
    }
  }

  &__toggle {
    display: none;
  }
}
